/*-----menu-----------------------------------------------------------------------*/
nav {
  position: absolute;
  width: 100%;
  display: flex;
  background: var(--transparent);
  height: 3rem; 
  align-items: center;
  justify-content: center;
  z-index: 1;
}
nav img {
  height: 1rem;
  margin: 0.5rem;
}

nav li {
  display: flex;
}

nav a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  margin: 0 7px;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  background: var(--white);
  color: var(--black);
  font-weight: 500;
}

#contato {
  position: absolute;
  display: flex;
  margin-left: 80%;
}

/*-----logo principal-----------------------------------------------------------------------*/

.title {
  min-height: 35rem;
  top: 0;
  z-index: -10;
  min-width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.title video {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.title img {
  position: absolute;
  height: 35rem;
  margin-top: 1.5rem;
}

/*-----carousel de notícias-----------------------------------------------------------------------*/

.carrocel {
  display: block;
  max-width:100%;
  padding: 1.875rem;
  margin: 0 auto;
  background: var(--white);
  height: 20rem;
}
  
@media (max-width: 400px) {
.carrocel {
    width: 1fr;
  }
}

.carrocel h1 {
  text-align: center;
}

/*---------quem somos---------------------------------------------------------------------------------*/

.quemSomos {
  background: var(--gray-300);
  color: var(--white);
}

.quemSomos h1 {
  text-align: center;
}

.quemSomos p {
  text-align: justify;
  padding: 2rem;
}

.missaoVisao {
  display: flex;
  margin: 0px 8px;
}

.missao, .visao {
  box-shadow: 0px 0px 2px black;
}

/*-----botão das empresas-----------------------------------------------------------------------*/

.acesso {
  height: 13rem;
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.botaoVigorSeaside {
  height: 100%;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.botaoVigorSeaside img {
  height: 12rem;
}

@media (max-width: 400px) {
  .acesso {
    display: block;
    height: 100%;
    margin: 2rem;
  }
}

/*---------idealizadores---------------------------------------------------------------------------------*/

.idealizadores {
  background: var(--gray-300);
  color: var(--white);
}

.israel h1 {
  text-align: center;
  padding: 1rem;
}
.imgText {
  display: flex;
}
.imgText p {
  text-align: justify;
  margin: 8rem 2rem 8rem 2rem;
}
.israel img {
  margin-left: 1rem;
  height: 20rem;
}

.rafaela h1 {
  text-align: center;
  padding: 1rem;
}
.imgText {
  display: flex;
}
.imgText p {
  text-align: justify;
  margin: 8rem 2rem 8rem 2rem;
}
.rafaela img {
  margin-right: 1rem;
  height: 20rem;
}
/*---------local---------------------------------------------------------------------------------*/

.local {
  text-align: center;
  box-shadow: 0px 0px 2px black;
}

.local iframe {
  width: 100%;
}

/*---------parceiros---------------------------------------------------------------------------------*/

.parceiros {
  background: var(--gray-300);
  color: var(--white);
  text-align: center;
  height: 20rem;
}