
/*-----logo principal-----------------------------------------------------------------------*/

.title {
  min-height: 35rem;
  top: 0;
  z-index: -10;
  min-width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.title video {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.title img {
  position: absolute;
  height: 35rem;
  margin-top: 1.5rem;
}

/*-----carousel de notícias-----------------------------------------------------------------------*/
.noticias{
  display: flex;
  justify-content: center;
  height: 430px;
}
.carousel {
  display: block;
  height: 400px;
  width: 500px;
  padding: 30px;
}

.carousel h1 {
  text-align: center;
}

/*---------quem somos---------------------------------------------------------------------------------*/

.quemSomos {
  background: var(--gray-300);
  color: var(--white);
  padding-top: 2rem;
}

.quemSomos h1 {
  text-align: center;
}

.quemSomos p {
  text-align: justify;
  padding: 2rem;
  text-indent: 2.5rem;
}

.missaoVisao {
  display: flex;
  margin: 0px 8px;
}

.missao, .visao {
  box-shadow: 0px 0px 2px black;
  width: 50%;
}

/*-----botão das empresas-----------------------------------------------------------------------*/
.servicos {
  height: 30rem;
}
.servicos h1, h6 {
  text-align: center;
  margin: 2rem;
}
.acesso {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.botaoVigorSeaside {
  height: 100%;
  width: 30rem;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.botaoVigorSeaside img {
  height: 12rem;
  position: relative;
  margin: 0px 25% 10px 25%;
}

@media (max-width: 400px) {
  .acesso {
    display: block;
    height: 100%;
    margin: 2rem;
  }
}

/*---------idealizadores---------------------------------------------------------------------------------*/

.idealizadores {
  background: var(--gray-300);
  color: var(--white);
}

.israel h1 {
  text-align: center;
  padding: 1rem;
}
.imgText {
  display: flex;
}

.israel img {
  margin-left: 1rem;
  height: 15rem;
}

.rafaela h1 {
  text-align: center;
}

.imgText p {
  text-align: justify;
  margin: 5rem 2rem 8rem 2rem;
}
.rafaela img {
  margin-right: 1rem;
  height: 15rem;
}
/*---------local---------------------------------------------------------------------------------*/

.local {
  text-align: center;
  margin-top: 25px;
}

.local iframe {
  width: 100%;
}

/*---------parceiros---------------------------------------------------------------------------------*/

.parceiros {
  background: var(--gray-300);
  color: var(--white);
  text-align: center;
  height: 20rem;
}

.parceiros img {
  height: 100px;
  margin: 20px;
}