* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  border: none;
}

textarea:focus, input:focus {
  outline: none;
}

a {
  font-size: .8rem;
}

a:hover {
  color: blue;
}

.bodyLoginVigor {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(green, black);
  display: flex;
  justify-content: center;
}

.loginContainerVigor {
  background: var(--white);
  width: 350px;
  height: 28rem;
  padding: 20px 30px;
  margin-top: 15vh;
  border-radius: 10px;
  text-align: center;
}

.loginContainerVigor img {
  height: 8rem;
}

label, input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
}

input {
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus {
  border-bottom: 2px solid blueviolet;
}

.forgotPassVigor {
  text-align: right;
  display: block;
}

input.Vigor[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: white;
  background: var(--green-400);
  cursor: pointer;
}

input.Vigor[type="submit"]:hover {
  background: var(--green-300);
  color: var(--black);
  transition: .4s;
}