.body {
  background:var(--black);
  color: var(--white);
}

.body > h1 {
  padding: 8rem;
  text-align: center;
  text-shadow: 1px 1px 3px var(--green-200);
}

/*---------título---------------------------------------------------------------------------------*/
.titleVigor {
  min-height: 35rem;
  top: 0;
  z-index: -10;
  min-width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.titleVigor video {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleVigor img {
  position: absolute;
  height: 30rem;
  margin-top: 1.5rem;
}

.login {
  position: absolute;
  margin: 3rem 1rem auto 90%;
  color: white;
  text-decoration: none;
  background: var(--green-500);
  font-weight: bolder;
  border-radius: 8px;
  height: 2rem;
  width: 7rem;
  text-align: center;
  font-size: 1rem;
  padding-top: 0.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}
.login:hover {
  background: var(--green-200);
  color: var(--black);
}
/*---------modalidades---------------------------------------------------------------------------------*/
.modalidades {
  background: var(--green-500);
  padding-bottom: 5rem;
}

.modalidades h2 {
  text-decoration: underline;
  padding: 3rem 0 6rem 0;
  text-align: center;
}

.bodyModalidades {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.atividades {
  width: 18rem;
  height: 30rem;
  box-shadow: 2px 2px 8px var(--black);
  background: var(--white);
  color: var(--black);
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}
.atividades img {
  width: 18rem;
}
.atividades h1 {
  font-size: 1rem;
  margin: 0;
  padding: 8px;
  background: var(--black);
  color: var(--green-200);
  text-align: center;
}
.atividades p {
  padding: 10px;
  text-align: justify;
}

.atividades button {
  border-radius: 10px;
  width: 6rem;
  margin: 0 30%;
}
/*---------pacotes---------------------------------------------------------------------------------*/

.pacotes {
  height: 55rem;
  background: var(--black);
  color: var(--green-100);
  margin: 2rem 10rem;
}
.pacotes > h1 {
  text-align: center;
}

.planos{
  display: flex;
}
.itens {
  width: 60rem;
}
.itens p {
  height: 1rem;
  font-size: 0.8rem;
}

.itens hr {
margin: -5px 0 2px 0;
}

.pacoteDireitos {
  width: 8rem;
  background: var(--black);
  box-shadow: 0px 0px 1px var(--white);
  border-radius: 8px;
  margin: 0rem 0.2rem;
}

.pacoteDireitos p {
  height: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.pacoteDireitos hr {
  margin: -5px 0 2px 0;
}

.titlePacotes {
  color: var(--white);
  margin: 1rem 0rem 3rem 0rem;
}
.precoPacotes {
  color: var(--white);
}

/*---------pacotes informações +---------------------------------------------------------------------------------*/

.alertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alertDialogContent {
  background: var(--white);
  border-radius: 8px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 800px;
  max-height: 90vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.alertDialogContent:focus {
  outline: none;
}

.alertDialogTitle {
  margin: 0;
  color: var(--green-300);
  font-size: 25px;
  font-weight: 500;
}

.alertDialogDescription {
  margin-bottom: 20px;
  color: var(--black);
  font-size: 15px;
  line-height: 1.5;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 25px;
}
.buttonViolet {
  background: var(--white);
  color: var(--green-400);
  box-shadow: 0 2px 5px black;
}
.buttonViolet:hover {
  background: var(--green-500);
  color: var(--white);
}
.buttonViolet:focus {
  box-shadow: 0 0 0 2px var(--black);
}

.buttonMauve {
  background: var(--transparent);
  color: var(--black);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


/*---------adicionais---------------------------------------------------------------------------------*/
.areaAdicionais {
  margin: 5rem;
}
.areaAdicionais > h1 {
  text-align: center;
  margin: 2rem;
}
.pacotesAdicionais {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.adicionais {
  height: 23rem;
  width: 15rem;
  border-radius: 30px;
  box-shadow: 0px 0px 15px var(--transparent);
  text-align: center;
  padding: 1rem;
}
.adicionais p {
  text-align: justify;
  font-size: 0.8rem;
  color: var(--white);
}
.precoAdicionais p {
  font-size: 1.5rem;
}
.adicionais:hover {
  box-shadow: 0px 0px 10px var(--green-200);
  transition: 0.3s;
}

/*---------carrocel da academia---------------------------------------------------------------------------------*/

.duvidas{
  display: flex;
  justify-content: center;
  height: 430px;
}
.carousel {
  display: block;
  width: 600px;
  padding: 30px;
}

.carousel h1 {
  text-align: center;
}

.titleCarousel3, .titleCarousel4, .titleCarousel5 {
  color: var(--white);
}

.texCarousel3, .texCarousel4, .texCarousel5 {
  color: var(--white);
}
/*---------duvidas---------------------------------------------------------------------------------*/

.duvidas {
  background: var(--green-500);
  color: var(--black);
  height: 30rem;
}